html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  font-family: sans-serif;
}

body {
  padding: 1em;
}

p {
  margin-bottom: 0;
}

.container {
  display: flex;
  justify-content: space-around;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 1em;
}

.rowsAndColumns {
  display: flex;
  flex-direction: column;
  line-height: 1.8em;
}

.end {
  pointer-events: none;
}

.d-none {
  display: none;
}

.gameInfos div {
  margin-top: 1em;
}

.carrier {
  color: #ff4500;
}

.battleship {
  color: #8b0000;
}

.crusier {
  color: #00008b;
}

.destroyer {
  color: #006400;
}

.divDebug {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 1em;
}

/* DIV TABLES */
.divTable {
  display: table;
  border: 1px solid #000000;
  grid-area: table;
}

.y .divTable {
  border: 1px solid #999999;
}

.x .divTable {
  border: 1px solid #999999;
}

.divTableRow {
  display: table-row;
  height: 3em;
}

.divTableCell {
  border: 1px solid #999999;
  display: table-cell;
  width: 3em;
  text-align: center;
  vertical-align: middle;
}

.divTableBody {
  display: table-row-group;
}

/* COORDINATES SYSTEM */
.coords {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 5px 3px;
  grid-template-areas:
    ". y ."
    "x table gameInfos";
}

.y {
  grid-area: y;
}

.x {
  grid-area: x;
}

.gameInfos {
  display: flex;
  flex-flow: column wrap;
  grid-area: gameInfos;
}

#table .divTableCell {
  border: 1px solid #fff;
  background-color: #004ea7;
  cursor: pointer;
}

#table .divTableCell:hover {
  background-color: #dddddd;
}

#table .miss {
  color: #fff;
  font-weight: 900;
}

#table .miss:hover {
  background-color: #004ea7;
}

#table .miss::after {
  content: "O";
}

#table .hit,
#table .hit:hover {
  background-color: #ff0000;
  color: #0f0f0f;
  font-weight: 900;
}

#table .hit::after {
  content: "X";
}

#table .debug,
#table .debug:hover {
  background-color: rgba(202, 71, 71, 0.5);
}
